---
---

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.editor-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 600px;
  bottom: 0;
}

.editor {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  border: none;
  outline: none;
  font-family: 'Consolas', 'Courier', monospace;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre;
  resize: none;
  box-sizing: border-box;
  background: none;
}

.preview-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 600px;
  overflow: scroll;
  background: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
  box-sizing: border-box;
}

.preview {
  border: 40px solid transparent;
  font-size: 0;

  /**
   * 行
   */
  > div {
    text-align: center;
    white-space: nowrap;

    /**
     * 单元格
     */
    > div {
      display: inline-block;
      height: 20px;
      margin: 0;
      padding: 0;
      cursor: pointer;

      transition: background 200ms;

      &:hover {
        background: #e9e9e9;
      }

      &.focus {
        background: #d9d9d9;
      }

      &.cell {
        width: 20px;

        /**
         * 单元格里的图层
         */
        > img {
          display: block;
          width: 20px;
          height: 20px;
          margin: 0;
          padding: 0;
          border: none;
          position: absolute;
        }
      }

      &.text {
        width: 200px;

        > span {
          display: block;
          width: 200px;
          height: 20px;
          font-size: 12px;
          font-family: 'Consolas', 'Courier', monospace;
          line-height: 20px;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          position: absolute;
        }
      }

    }
  }

}
